*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px calc(50% - 580px);

  background-color: #eee;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.3;
}

.header__list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}

.header__link {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;

  border-bottom: 2px solid transparent;
}

.header__cart {
  margin-right: 25px;
}

.header__link:hover {
  color: #fb565a;
}

.header__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__item [aria-current="page"] {
  border-bottom: 2px solid #fb565a;
}

.main__heading {
  width: 100%;
  padding-bottom: 105px;
  margin-top: 0;
  margin-bottom: 60px;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000;
  background-color: #eee;
}

.catalog__wrap {
  display: flex;
  padding: 0 calc(50% - 580px);
}

.filter {
  width: 260px;
  margin-right: 140px;
}

.filter__fieldset {
  padding: 0;
  padding-top: 37px;
  margin-bottom: 50px;

  border: none;
}

.filter__fieldset--price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter__legend {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
  text-transform: uppercase;
  color: #000;
}

.range__box {
  position: relative;

  display: flex;
  align-items: center;
  width: 260px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 13px;

  background-color: #eee;
  border-radius: 3px;
}

.filter__range-btn {
  z-index: 3;

  padding-top: 5px;
  margin-left: 12px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter__range-btn:last-child {
  margin-left: 114px;
}

.range__box::before {
  position: absolute;
  top: calc(50% - 2px);
  left: 20px;

  width: 219px;
  height: 2px;
  content: "";

  background-color: #d7dcde;
}

.range__box::after {
  position: absolute;
  top: calc(50% - 2px);
  left: 20px;

  width: 152px;
  height: 2px;
  content: "";

  background-color: #00cb75;
}

.filter__label {
  font-size: 16px;
  line-height: 1.25;
  color: #283136;
}

.filter__input--number {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;

  width: 80px;
  height: 38px;
  margin-left: 11px;

  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #283136;

  background-color: #eee;
  border: none;
  border-radius: 3px;
}

.filter__fieldset--grid,
.filter__fieldset--advantages {
  display: flex;
  flex-direction: column;
}

.filter__item {
  position: relative;

  padding-left: 38px;
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 1.25;
  color: #283136;
}

.filter__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__checkbox::-ms-check {
  display: none;
}

.filter__checkbox-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 24px;
  height: 20px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  opacity: 0.4;
}

.filter__checkbox:checked+.filter__checkbox-img {

  background-image: url("../img/checkbox-on.svg");
  background-size: 24px 20px;
}

.filter__checkbox:hover+.filter__checkbox-img {
  opacity: 1;
}

.filter__checkbox:focus+.filter__checkbox-img {
  opacity: 1;

  outline: 1px dotted #000;
}

.filter__checkbox:disabled+.filter__checkbox-img {
  opacity: 0.1;
}

.filter__radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter__radio::-ms-check {
  display: none;
}

.filter__radio-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 22px;
  height: 22px;
  content: "";

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.4;
}

.filter__radio:checked+.filter__radio-img {
  background-image: url("../img/radio-on.svg");
}

.filter__radio:hover+.filter__radio-img {
  opacity: 1;
}

.filter__radio:focus+.filter__radio-img {
  opacity: 1;

  outline: 1px dotted #000;
}

.filter__radio:disabled+.filter__radio-img {
  opacity: 0.1;
}

.filter__btn--submit {
  width: 260px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #000;

  background-color: #eee;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.filter__btn--submit:hover {
  background-color: #dfdfdf;
}

.filter__btn--submit:active {
  color: rgba(0, 0, 0, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.sorting-catalog-wrap {
  width: 100%;
}

.sorting__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 59px;
}

.sorting__fieldset {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  border: none;
}

.sorting__legend {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #000;
}

.sorting__item {
  position: relative;

  cursor: pointer;
}

.sorting__item--type {
  margin-right: 26px;
}

.sorting__item--type:nth-child(3) {
  margin-right: 48px;
}

.sorting__item--price:last-child {
  margin-left: 18px;
}

.sorting__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting__input::-ms-check {
  display: none;
}

.sorting__arrow--up {
  width: 12px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting__arrow--down {
  width: 12px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting__text {
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__input:hover+.sorting__text {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__input:checked+.sorting__text {
  color: rgba(0, 0, 0, 1);
}

.sorting__input:focus+.sorting__text {
  outline: 1px dotted #000;
}

.sorting__input:hover+.sorting__ico {
  opacity: 0.6;
}

.sorting__input:checked+.sorting__ico {
  opacity: 1;
}

.sorting__input:focus+.sorting__ico {
  opacity: 1;

  outline: 1px dotted #000;
}

.slider {
  position: relative;

  width: 100%;
  min-height: 430px;
  padding: 0 calc(50% - 580px);
  margin-bottom: 80px;

  background-color: #eee;
}

.slider__list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.slider__item {
  display: none;
  min-height: 430px;
  padding-top: 60px;

  background-image: url('../img/slide-picture1.png');
  background-repeat: no-repeat;
  background-position: bottom right 31px;
}

.slider__item--show {
  display: block;
}

.slider__item:nth-child(2) {
  background-image: url('../img/slide-picture2.png');
}

.slider__item:nth-child(3) {
  background-image: url('../img/slide-picture3.png');
}

.slider__heading {
  max-width: 520px;
  margin-top: 0;
  margin-bottom: 28px;

  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  color: #000;
}

.slider__text {
  max-width: 415px;
  margin-top: 0;
  margin-bottom: 60px;

  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}

.slider__link {
  padding: 18px 55px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  background-color: #fb565a;
  border-radius: 3px;
}

.slider__link:hover {
  background-color: #e74246;
}

.slider__link:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.slider__controls {
  position: absolute;
  bottom: 96px;
  left: calc(50% - 44px);

  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.slider__item--ctrl:not(:last-child) {
  margin-right: 17px;
}

.slider__btn {
  width: 18px;
  height: 18px;

  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn--current {
  background-image: url('../img/active-button.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.offer {
  width: 1160px;
  padding-bottom: 80px;
  margin: 0 auto;
  margin-bottom: 40px;

  border-bottom: 2px solid #eee;
}

.offer__list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.offer__item {
  max-width: 300px;
  margin-right: 100px;
}

.offer__title {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  color: #000;
}

.offer__text {
  width: 250px;
  margin-top: 0;

  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}

.offer__btn {
  padding: 18px 39px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #fff;

  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.offer__btn--red {
  background-color: #fb565a;
}

.offer__btn--red:hover {
  background-color: #e74246;
}

.offer__btn--red:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.offer__btn--green {
  background-color: #00ca74;
}

.offer__btn--green:hover {
  background-color: #00bc6c;
}

.offer__btn--green:active {
  color: rgba(255, 255, 255, 0.3);
  
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.offer__btn--yellow {
  background-color: #efc84a;
}

.offer__btn--yellow:hover {
  background-color: #eab534;
}

.offer__btn--yellow:active {
  color: rgba(255, 255, 255, 0.3);
  
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}

.about {
  display: flex;
  width: 1160px;
  padding-bottom: 50px;
  margin: 0 auto;

  border-bottom: 2px solid #eee;
}

.about__wrapper--img {
  width: 360px;
  margin-left: auto;
}

.about__heading {
  display: block;
  width: 650px;
  margin-top: 40px;
  margin-bottom: 35px;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
  color: #000;
}

.about__text {
  width: 616px;
  margin-bottom: 47px;

  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #283136;
}

.about__list-title {
  margin-bottom: 20px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000;
}

.about__list {
  font-size: 16px;
  line-height: 1.5;
  color: #283136;

  list-style: none;
}

.about__item {
  position: relative;

  margin-bottom: 20px;
}

.about__item::before {
  position: absolute;
  top: 50%;
  left: -40px;

  width: 25px;
  height: 2px;
  content: "";

  background-color: #fb565a;
}

.about__dl-title {
  margin-bottom: 40px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.about__dl {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 110px;
}

.about__term {
  margin-bottom: 10px;

  font-size: 45px;
  font-weight: bold;
  color: #000;
}

.about__description {
  max-width: 110px;
  margin-left: 0;

  font-size: 16px;
  line-height: 1.13;
  color: #283136;
}

.about__description:not(:last-child) {
  margin-right: 26px;
}

.brand {
  width: 1160px;
  height: 180px;
  padding-top: 32px;
  margin: 0 auto;
  margin-bottom: 80px;

  border-bottom: 2px solid #eee;
}

.brand__list {
  display: flex;
  justify-content: center;
  padding-left: 0;

  list-style: none;
}

.brand__item {
  position: relative;

  display: flex;
  align-items: center;
  min-height: 90px;
}

.brand__item:not(:last-child) {
  margin-right: 96px;
}

.brand__item:not(:last-child)::after {
  position: absolute;
  top: 19px;
  right: -48px;

  width: 2px;
  height: 52px;
  content: "";

  background-color: #eee;
}

.brand__link {
  opacity: 0.2;
}

.brand__link:hover {
  opacity: 1;
}

.brand__link:active {
  opacity: 0.1;
}

.contact {
  height: 416px;
  padding: 54px calc(50% - 580px);

  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-position: center;
}

.contact__wrap {
  width: 320px;
  height: 308px;
  padding: 50px;

  background-color: #fff;
}

.contact__heading {
  margin-top: 0;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #000;
}

.contact__address {
  margin-bottom: 18px;

  font-size: 16px;
  font-style: normal;
  line-height: 1.13;
  color: #666;
}

.contact__tel {
  display: block;
  margin-bottom: 37px;

  font-size: 16px;
  font-style: normal;
  line-height: 1.13;
  text-decoration: none;
  color: #666;
}

.contact__btn {
  width: 219px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-transform: uppercase;
  color: #fff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact__btn:hover {
  background-color: #e74246;
}

.contact__btn:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.footer {
  display: flex;
  height: 217px;
  padding: 69px calc(50% - 580px);
}

.footer__list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-right: 139px;
  margin-bottom: 0;

  list-style: none;
}

.footer__item:not(:last-child) {
  margin-right: 12px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer__link:hover {
  background-color: #e74246;
}

.footer__link:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.footer__link:active .footer__icon {
  opacity: 0.3;
}

.footer__offer-text {
  font-size: 16px;
  line-height: 36px;
  color: #444;
}

.footer__offer-bold {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #000;
}

.modal {
  position: fixed;
  bottom: 180px;
  left: calc(50% - 480px);

  display: none;
  width: 960px;
  height: 590px;
  padding: 60px 100px;


  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal__show {
  display: block;
}

.modal__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.modal__heading {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 45px;
  font-weight: 500;
  color: #000;
}

.modal__btn--close {
  opacity: 0.3;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__btn--close:hover {
  opacity: 1;
}

.modal__btn--close:active {
  opacity: 0.1;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
}

.modal__label {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.13;
  color: #000;
}

.modal__input {
  width: 360px;
  height: 50px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 12px;
  margin-bottom: 36px;

  font-size: 16px;
  line-height: 1.13;
  color: rgba(68, 68, 68, 0.5);

  border: solid 2px #d7dcde;
  background-color: #fff;
}

.modal__label:first-of-type {
  margin-right: 40px;
}

.modal__textarea {
  width: 760px;
  height: 118px;
  padding: 15px;
  margin-top: 12px;
  margin-bottom: 47px;

  font-size: 16px;
  line-height: 1.13;
  color: rgba(68, 68, 68, 0.5);

  border: solid 2px #d7dcde;
  background-color: var(--white);
}

.modal__btn {
  width: 260px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #fff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal__btn:hover {
  background-color: #e74246;
}

.modal__btn:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}